/* Container */
.ada-container {
  padding: 24px;
  background: #f9fafb;
}

/* Title */
.ada-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Card */
.ada-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

/* Section Title */
.ada-section-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* Row */
.ada-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

/* Input */
.ada-input {
  padding: 12px 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
  font-family: system-ui;
  transition: 0.2s;
}

.ada-input:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 0 2px rgba(109, 40, 217, 0.15);
}

/* Textarea */
.ada-textarea {
  width: 100%;
  min-height: 80px;
  padding: 12px 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
  resize: vertical;
  margin-bottom: 10px;
}

.ada-textarea:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 0 2px rgba(109, 40, 217, 0.15);
}

/* Button */
.ada-actions {
  margin-top: 16px;
}

.ada-btn {
  padding: 12px 20px;
  background: #6d28d9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.ada-btn:hover {
  background: #5b21b6;
  transform: translateY(-1px);
}

/* DARK MODE */
.dark .ada-container {
  background: #0f172a;
}

.dark .ada-card {
  background: rgba(17, 24, 39, 0.6);
  border-color: #1f2937;
}

.dark .ada-input,
.dark .ada-textarea {
  background: #111827;
  border-color: #1f2937;
  color: #e5e7eb;
}

/* PHOTO UPLOAD */
.ada-photo-upload {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ada-file-input {
    padding: 10px;
    border: 1px dashed #d1d5db;
    border-radius: 8px;
    background: #f5f4f4;
    cursor: pointer;
    width: 30%;
}
.ada-file-input:hover {
  border-color: #6d28d9;
}

/* DARK MODE */
.dark .ada-file-input {
  background: #111827;
  border-color: #1f2937;
  color: #e5e7eb;
}